body {
  background-size: cover;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
  margin-top: 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: 0.25rem;
  box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.25);
}

.accordion-container {
  width: 89%;
  margin-bottom: 40px;
}

.accordion-container h1 {
  font-weight: 700;
  padding: 1rem;
  font-size: 26px;
  text-align: center;
}

.accordion-item {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11px;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  padding: 12px 0;
  margin-bottom: 1px;
  border: none;
  border-bottom: solid 1px hsl(240, 5%, 91%);
}

.accordion-question {
  margin: 0;
}

.illustraion-women {
  background-image: url(../images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14.5rem;
  position: center;
  width: 240px;
  height: 196px;
  margin-top: -6.7rem;
  margin-right: 25px;
}

.bg-pattern {
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13rem;
  width: 240px;
  height: 104px;
  margin-top: -6rem;
}

details > summary {
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

details[open] > summary {
  font-weight: bold;
}

details > p {
  margin-bottom: 0;
  margin-top: 10px;
}

details > summary::after {
  content: url(../images/icon-arrow-down.svg);
}

details[open] > summary::after {
  transform: rotate(180deg);
}
