body {
  background-size: cover;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  margin-top: 106px;
}

.wrapper {
  /* margin-top: 2.4em; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin: 0.25rem;
  box-shadow: 0px 35px 25px -10px rgba(0, 0, 0, 0.25);
}

.accordion-container {
  width: 89%;
  margin-bottom: 2.5em;
}

.accordion-container h1 {
  font-weight: 700;
  padding: 1rem;
  font-size: 26px;
  text-align: center;
}

.accordion-item {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 11px;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  margin-bottom: 1px;
  border: none;
  border-bottom: solid 1px hsl(240, 5%, 91%);
}

.accordion-question {
  margin: 0;
}

.illustraion-women {
  background-image: url(../images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14.5rem;
  position: center;
  width: 15em;
  height: 12.25em;
  margin-top: -106px;
  margin-right: 1.5em; /* 25px */
}

.bg-pattern {
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13rem;
  width: 15em;
  height: 6.5em;
  margin-top: -6rem;
}

details > summary {
  padding: 1em 0;
  list-style: none;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

details > summary:hover {
  color: hsl(14, 88%, 65%);
}

details[open] > summary {
  font-weight: bold;
  transition: 0.25s open ease;
}

details > p {
  margin-bottom: 0.625em;
  color: hsl(240, 6%, 50%);
}

details > summary::after {
  content: url(../images/icon-arrow-down.svg);
}

details[open] > summary::after {
  transition: 0.25s transform ease;
  transform: rotate(180deg);
}

/* Animation */
details[open] .accordion-answer {
  animation-name: invisiblyGrowFontSize, fadeIn;
  animation-duration: 200ms, 75ms;
  animation-delay: 0ms, 200ms;
}

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 11px;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
